@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #13320d;
  --color-black: #0c0c0c;
  --foreground: #171717;
  --color-white: #ffffff;

  --color-golden: #dcca87;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--color-black);
  background: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}
